@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "slider";

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body{
    color: #363636;
    font-family: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

html,
body,
#__next{
    min-height: 100%;
    height: 100%;
}
#__next, html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Prevent long words (e.g., Russian) from causing overflow on small screens */
*, *::before, *::after {
    word-break: break-word;
}
#__next{
    display: flex;
    flex-direction: column;
}

.player-bar{
    bottom: 2em;
    min-height: 35px;
    .Toastify__toast{
        padding: 0px 10px;
    }
    .Toastify__toast-body{
        padding: 0;
        margin: 0;
    }
}
